.CodeBackground{
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
}

.CodeContainer{
    background-color: #FAFAFA;
    /*border: 1px solid #BDBDBD;*/
    border-radius: 10px;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.CodeCopy{
    text-align: end;
    padding: 5px;
}

.CodeTextContainer{
    height: 100%;
}

.CodeText{
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #424242;
    color: #fafafa;
    font-size: 20px;
}

.CodeBtn{
    border: none;
    color: #fff;
    font-size: 21px;
    outline: none;
    background: #C850C060;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
    transition: all 0.3s ease;
}

.CodeBtn:hover{
    background: #C850C0;
}