.Menu{
    padding: 3px;
    background-color: #FAFAFA;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%);
}
.MenuCont{
    /*overflow-y: auto;*/
    padding: 5px;
    display: flex;
    flex-direction: column;
    /*border: 1px solid #BDBDBD;*/
    overflow-y:scroll;
    max-height: 97vh;
    scrollbar-width: thin;
}


.Menu hr{
    height: 1px;
    border: none;
    color: #BDBDBD;
    background-color: #BDBDBD;
    margin-top: 2px;  
    margin-bottom: 2px;
}

.MenuRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MenuRow2{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5px;
}

.MenuRow3{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    padding: 5px;
}

.MenuRow3 span{
    text-align: center;
}

input[type='color']{
    width: 50%;
}

.MenuRow label{
    font-size: 1rem;
}

.MenuTitle{
    background-color: #E0E0E0;
    font-weight: 500;
    border-radius: 5px;
    padding: 3px;
}

.MenuBtn{
    border: none;
    color: #ffffff;
    font-size: 21px;
    outline: none;
    background: #4158D060;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
    transition: all 0.3s ease;
    margin-left:3px;
}

.MenuBtn:hover{
    background: #4158D0;
}

.MenuInput{
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 3px;
    transition: all 0.3s ease;
}

.MenuInput:focus{
    border-color: #4158D0;
}